@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
font-family: "Oswald", sans-serif;
-webkit-text-stroke: 1px white;
background-image: url(images/notebook.jpg);
background-repeat: no-repeat;
margin: 0;
padding: 0;
background-size: cover;        
background-position: center;  
height: 100vh;
}


.themes {
    margin-left: 175px;
}

.themes2 {
    margin-left: 650px;
    margin-top: -65px;
}

.themes3 {
    margin-left: 1000px;
    margin-top: -65px;
}

.themes4 {
    margin-left: 1500px;
    margin-top: -65px;
}

.navbar3 {
    width:500px;
    font-size: 35px;
    margin-left: 145px;
    margin-top: 25px;
    -webkit-text-stroke: 1.15px rgb(18, 48, 218)
}

.navbar3 ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 21%);
    display: inline;
    padding: 0px;
    margin: 0px;
}

.navbar3 a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}


.navbar3 a:hover {
   -webkit-text-stroke: 0.7px rgb(0, 0, 0)
}

.back {
    font-size: 50px;
    margin-left: -100px;
    margin-top: 450px;
}