@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body {
font-family: "Pattaya", sans-serif;
-webkit-text-stroke: 1px rgb(0, 0, 0);
background-image: url(images/whatchu.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.naemmgarit {
    font-size: 50px;
    margin-left: 300px;
    margin-top: 50px;
}

.garit {
    font-size: 30px;
    width: 630px;
    margin-left: 300px;
}

.ok {
    margin-left: 1030px;
    margin-top: -250px;
    width: 650px;
    font-size: 20px;
}


.navbar1 {
    width:500px;
    font-size: 40px;
    margin-left: 980px;
    margin-top: 50px;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0)
}

.navbar1 ul {
    list-style-type:none;
    background-color: hsl(0, 0%, 21%);
    display: inline;
    padding: 0px;
    margin: 0px;
}

.navbar1 a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}


.navbar1 a:hover {
   -webkit-text-stroke: 0.9px rgb(0, 0, 0)
}