@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
font-family: "Oswald", sans-serif;
-webkit-text-stroke: 1px white;
background-image: url(images/notebook.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
}


.navbar3 {
    width:500px;
    font-size: 35px;
    margin-left: 145px;
    margin-top: 25px;
    -webkit-text-stroke: 1.15px rgb(18, 48, 218)
}

.navbar3 ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 21%);
    display: inline;
    padding: 0px;
    margin: 0px;
}

.navbar3 a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}


.navbar3 a:hover {
   -webkit-text-stroke: 0.7px rgb(0, 0, 0)
}

.back {
    font-size: 50px;
    margin-left: 1400px;
    margin-top: -1300px;
    width: 400px;
}

.theme {
    font-size: 45px;
    margin-left: 75px;
}

.info {
    width: 1300px;
}

.spor {
    margin-top: 50px;
    margin-left: 1400px;
}